* {
  box-sizing: border-box;
}

#root {
  /* max-width: 375px; */
  margin: 0 auto;
}

#document {
  border: solid;
  padding: 1em;
}

@media print {
  #app-bar,
  #debug-area {
    display: none;
  }
}
