* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  background: black;
  display: flex;
  flex-direction: row;

  & > * {
    flex-shrink: 0;
  }
}

@media print {
  #app-bar,
  #debug-area {
    display: none;
  }
}
