#document {
  --base-font: Arimo, Arial, Helvetica, sans-serif;
  --title-font: Inter, var(--base-font);
  --mono-font: Cousine, 'Courier New', Courier, monospace;

  --paper-width: 8.5in;
  --paper-height: 11in;
  --paper-margin: 0.5in;
  --content-height: calc(var(--paper-height) - 2 * var(--paper-margin));
  --content-width: calc(var(--paper-width) - 2 * var(--paper-margin));

  box-sizing: border-box;
  width: var(--paper-width);
  padding: var(--paper-margin);
  padding-bottom: 0;
  min-height: var(--paper-height);

  background-color: white;
  font-family: var(--base-font);
  font-size: 10pt;
  white-space: pre-line;

  & code {
    font-family: monospace;
    font-family: var(--mono-font);
    font-size: 9pt;
    font-style: italic;
  }

  & section {
    margin-top: 2rem;

    & h1 {
      font-family: var(--title-font);
      letter-spacing: -0.025em;
      font-size: 15pt;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
  }

  & #basics {
    margin-top: 0;

    & .title,
    & .subtitle {
      font-family: var(--title-font);
      display: block;
    }

    & .title {
      font-size: 22pt;
      font-weight: bold;
      letter-spacing: unset;
      margin: 0;
    }

    & .subtitle {
      font-size: 14pt;
      font-weight: bold;
      letter-spacing: -0.025em;
      white-space: pre-line;
      margin-top: 0.25em;
      margin-bottom: 0.5em;
    }
  }

  /* grid card styling */

  & .grid-card {
    & .title {
      font-size: 11pt;
    }

    & .subtitle {
      font-size: 9pt;
      letter-spacing: -0.035em;
      color: #6b7280;
    }

    & .note {
      font-size: 9pt;
    }
  }

  /* stacked card styling */

  & .stacked-card {
    & .title {
      font-size: 13pt;
    }
  }
}

/* section spacing overrides */

#document {
  & #languages {
    margin-top: 1rem;
  }
}
