.container {
  --base-font: Arimo, Arial, Helvetica, sans-serif;
  --title-font: Inter, var(--base-font);
  --mono-font: Cousine, 'Courier New', Courier, monospace;

  --paper-width: 8.5in;
  --paper-height: 11in;
  --paper-margin: 0.5in;
  --content-height: calc(var(--paper-height) - 2 * var(--paper-margin));
  --content-width: calc(var(--paper-width) - 2 * var(--paper-margin));

  --section-spacing: 2em;
  --stacked-card-gap: 1em;
  --grid-card-gap: 1em;
  --definition-title-width: 9em;

  width: var(--paper-width);
  padding: var(--paper-margin);
  padding-bottom: 0;
  min-height: var(--paper-height);

  background-color: white;
  font-family: var(--base-font);
  font-size: 10pt;
  white-space: pre-line;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  row-gap: var(--section-spacing);

  & section {
    & h1 {
      font-family: var(--title-font);
      letter-spacing: -0.025em;
      font-size: 15pt;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
  }
}

.basics {
  margin-top: 0;

  :global(.title),
  :global(.subtitle) {
    font-family: var(--title-font);
    display: block;
  }

  :global(.title) {
    font-size: 22pt;
    font-weight: bold;
    letter-spacing: unset;
    margin: 0;
  }

  :global(.subtitle) {
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: -0.025em;
    white-space: pre-line;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
  }
}

/* grid card styling */

& :global(.grid-card) {
  & :global(.title) {
    font-size: 11pt;
  }

  & :global(.subtitle) {
    font-size: 9pt;
    letter-spacing: -0.035em;
    color: #6b7280;
  }

  & :global(.note) {
    font-size: 9pt;
  }
}

/* stacked card styling */

& :global(.stacked-card) {
  & :global(.title) {
    font-size: 13pt;
  }
}

/* section overrides */

:global(#languages) {
  margin-top: -1em;
}

:global(#projects) {
  --grid-card-gap: 2em;
}
