:root {
  --ui-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: var(--ui-font);
}

strong,
th {
  font-weight: bold;
}

code {
  font-family: monospace;
}

em {
  font-style: italic;
}

a {
  color: #2563eb;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  margin-top: 0;
}
