:root {
  --ui-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --mono-font: Cousine, monospace;
  font-family: var(--ui-font);
}

strong,
th {
  font-weight: bold;
}

code {
  font-family: var(--mono-font);
  font-size: smaller;
  color: black;
}

em {
  font-style: italic;
}

a {
  color: #2563eb;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  margin-top: 0;
}

@media print {
  nav {
    display: none !important;
  }
}
